<%=@user.name%>'s Workouts and Goals
<br>
<%# <a href="/sessions/logout">Log Out</a> %>
<label id="workouts">Workouts:</label>
    <ul>
        <%@workouts.each do |workout|%>
            <li><a href="/workouts/<%=workout.id%>"><%=workout.name%>  <%=workout.date_printed%></a></li>
        <%end%>

    </ul> 
<label id="goals">Goals:</label>
     <ul> 
        <%@goals.each do |goal|%>
            <li><a href="/goals/<%=goal.id%>"><%=goal.name%></a>
            <%=goal.description%></li>
        <%end%>
    </ul> 